Ne jamais supprimer les commentaires existants, ajouter un flag OBSOLETE ou A METTRE A JOUR si nécessaire
Ne jamais modifier l'aspect ou le style de mise en forme du code existant si la fonction est inchangée